* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}

body {
	font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
	display: flex;
	height: 100vh;
	margin: 0;
	background: linear-gradient(180deg, #e8eaea, #784692);
	justify-content: center;
	align-items: center;
}

#container {
	background: rgba(255, 255, 255, 0.8);
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
	text-align: center;
	width: 90%;
	max-width: 400px;
}

h1 {
	font-size: 22px;
	font-weight: 600;
	color: #333;
	margin-bottom: 15px;
}

label {
	font-size: 14px;
	color: #666;
}

input {
	font-size: 16px;
	width: 60px;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 10px;
	text-align: center;
	outline: none;
	margin-left: 5px;
}

#words-container {
	margin: 20px 0;
}

.word-item {
	font-size: 20px;
	font-weight: 600;
	color: #222;
	padding: 10px;
	background: #f8f8f8;
	border-radius: 12px;
	margin: 5px 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.lengths {
	font-size: 14px;
	color: #888;
	margin-top: 5px;
}

button {
	font-size: 16px;
	font-weight: 600;
	background: #007aff;
	color: white;
	border: none;
	padding: 12px 20px;
	border-radius: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: background 0.2s ease-in-out;
}

button:hover {
	background: #005ecb;
	transform: scale(1.02);
}

#source-container {
	gap: 20px;
	padding: 15px;
	border-radius: 15px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	text-align: center;
    max-height: 520px;
    max-width: 500px;
    overflow-y: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}

th, td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #f5f5f5;
	font-weight: 600;
	color: #333;
}

tr:last-child td {
	border-bottom: none;
}

td {
	font-size: 14px;
	color: #444;
}

input[type="checkbox"] {
	width: 18px;
	height: 18px;
	cursor: pointer;
}

#source-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	gap: 10px;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.source-card {
	background: white;
	padding: 15px;
	border-radius: 15px;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
	text-align: center;
	width: 100%;
	max-width: 400px;
	cursor: pointer;
	transition: background 0.3s ease, transform 0.1s ease;
}

.source-card:hover {
	transform: scale(1.02);
}

.source-card.disabled {
	background: #ccc;
	color: #777;
	box-shadow: none;
	cursor: pointer;
}

.source-card h3 {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
}

.source-card p {
	margin: 5px 0 0;
	font-size: 14px;
	color: #444;
}

.main-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 900px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(177, 105, 214, 0.7);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
	transition: background 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(120, 70, 156, 0.9);
	transition: background 0.2s ease-in-out;
}

#total-terms {
	margin-right: 10px;
	font-size: 15px;
	font-weight: 600;
    color: #555;
    background-color: #f0f0f0;
    padding: 8px 15px;
	border: none;
	padding: 12px 20px;
	border-radius: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: fit-content;
}

#total-terms {
    display: inline-block;
    font-weight: 600;
    background-color: #f8f8f8;
}

footer {
	z-index: 3;
    text-align: center;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
	color: #b4b4b4;
	font-size: 0.8rem;
    position: fixed;
	left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #a0a0a0;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.15s ease-in;
}

footer a:hover {
    color: #555;
    text-decoration: underline;
}

.loading-icon {
    width: 30px;
    height: 30px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#export-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}
#export-container button {
	opacity: 0.5;
	margin-bottom: 10px;
}
#export-container .loading-icon {
	margin: 0;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

#control-panel {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
#total-terms {
	font-size: 16px;
	font-weight: 600;
	color: #555;
	background-color: #f8f8f8;
	padding: 10px 15px;
	border-radius: 25px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#buttons-panel {
	display: flex;
	gap: 20px;
}
#buttons-panel button {
	opacity: 0.7;
	padding: 12px 20px;
	border-radius: 25px;
	border: none;
	background: #007aff;
	color: white;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: background 0.2s ease-in-out, transform 0.2s;
}
#buttons-panel button:hover {
	background: #005ecb;
	transform: scale(1.02);
}
